:root {
    --text-font-weight: 300;
    --heading-font-weight: 500
}

@media (max-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%
    }
}

@media (min-width: 1501px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px
    }
}

.my-6 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important
}

.my-7 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important
}

.mt-6 {
    margin-top: 5rem !important
}

.mt-7 {
    margin-top: 8rem !important
}

.btn-primary,
.bg-primary th,
.bg-primary td {
    background-color: #1a6dc1
}

.pagination .page-item {
    margin: 0 4px
}

.pagination .page-item .page-link {
    display: table-cell;
    box-sizing: content-box;
    padding: .25rem;
    margin-left: 0;
    width: 1.18rem;
    height: 1.18rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: #707070;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle
}

.pagination .page-item .page-link:hover {
    color: #fff;
    background-color: #46bafd
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #0b75b3
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 100%
}

.modal .modal-header,
.modal .modal-footer {
    border-width: 0
}

.modal .modal-title {
    margin: .5em auto;
    color: #1a6dc1;
    font-weight: 600;
    font-weight: var(--heading-font-weight, 600);
    font-size: 1.5rem
}

.modal .modal-body {
    margin-bottom: 2em;
    color: #1a6dc1
}

.modal .modal-footer {
    -webkit-box-pack: center;
    justify-content: center
}

html {
    background-image: url("/assets/img/example/bg-2.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

body {
    font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-weight: var(--text-font-weight, 300);
    line-height: 1.6;
    letter-spacing: .084em;
    color: #555;
    background-color: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .75em;
    font-weight: 500;
    font-weight: var(--heading-font-weight, 500);
    line-height: 1.5
}

.h4,
h4 {
    font-size: 1.42rem
}

.h5,
h5 {
    font-size: 1.08rem
}

.h6,
h6 {
    font-size: .86rem;
    font-weight: 300
}

ul {
    padding-left: 24px
}

ul li {
    margin-top: 4px;
    margin-bottom: 4px
}

b,
strong {
    font-weight: 600
}

a,
a:hover {
    text-decoration: none
}

*:focus {
    outline: none !important
}

.text-primary {
    color: #1a6dc1 !important
}

.text-danger {
    color: #EA6000
}

.navbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0px 10px 13px -5px rgba(88, 88, 88, 0.36), 5px 5px 15px 5px rgba(88, 88, 88, 0)
}

.navbar {
    height: 72px;
    background-color: #fff
}

.navbar .navbar-brand {
    width: 226px;
    padding: 0;
    margin-left: 13px;
    margin-right: 0
}

@media (max-width: 991px) {
    .navbar .navbar-brand {
        margin-left: 0;
        width: 204px
    }
}

.navbar .navbar-toggler {
    color: #1a6dc1
}

.navbar .navbar-collapse {
    margin-top: -1px
}

.navbar .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
    color: #1a6dc1;
    font-size: 1.06rem;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out
}

.navbar .navbar-nav .nav-link:not(.is-active):hover {
    color: #038fc7
}

.navbar .navbar-nav .nav-link.dropdown-toggle::after {
    display: none
}

@media (max-width: 991px) {
    .navbar .navbar-nav .nav-link {
        color: #fff
    }

    .navbar .navbar-nav .nav-link:not(.is-active):hover {
        color: #f7f306
    }
}

.navbar .dropdown-menu {
    padding: 0
}

.navbar .dropdown-menu .dropdown-item {
    padding: .42rem 1.5rem;
    color: #1a6dc1
}

.navbar .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ccc
}

@media (max-width: 992px) {
    .navbar .navbar-collapse {
        position: absolute;
        top: 73px;
        left: 0;
        right: 0;
        background-color: #1a6dc1
    }

    .navbar .navbar-nav {
        padding: 25px 15px
    }

    .navbar .navbar-nav .nav-link {
        padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid rgba(109, 160, 255, 0.4)
    }

    .navbar .navbar-nav .nav-item:last-child .nav-link {
        border-bottom-width: 0
    }

    .navbar .navbar-nav .dropdown-menu {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 0
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item {
        padding: .56rem 2rem;
        font-weight: 300;
        color: #fff;
        font-size: .92em
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item:not(:last-child) {
        border-bottom: 1px solid #1a6dc1
    }

    .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: transparent
    }
}

.footer .row {
    padding: 30px 0;
    color: #fff;
    background-color: #4d4d4d
}

.footer a {
    color: #fff
}

.footer .copy-right,
.footer .copy-right a {
    text-align: center;
    color: #c7c7c7;
    font-size: .74rem
}

.go-top-wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    bottom: 20px
}

.go-top-wrapper .go-top {
    display: block;
    float: right;
    z-index: 5;
    margin: 15px;
    padding: 13px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    color: #eb4242;
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 100px;
    box-sizing: content-box;
    text-align: center;
    box-shadow: 0px 2px 8px -1px rgba(142, 142, 142, 0.52);
    opacity: 0;
    -webkit-transition: all 380ms;
    transition: all 380ms;
    will-change: auto
}

.go-top-wrapper .go-top.is-show {
    opacity: 1
}

.go-top-wrapper .go-top i {
    display: block;
    margin-top: -7px
}

.go-top-wrapper .go-top::after {
    content: 'TOP';
    position: absolute;
    top: 18px;
    left: 8px;
    font-size: 12px
}

[v-cloak] {
    display: none
}

body>#app>.container {
    background-color: #fff
}

body.page-index .carousel .slick-list,
body.page-index .carousel .slick-track,
body.page-index .carousel .item {
    height: calc(100vh - 72px - 60px);
    max-height: 600px
}

@media (max-width: 991px) {

    body.page-index .carousel .slick-list,
    body.page-index .carousel .slick-track,
    body.page-index .carousel .item {
        max-height: 66vw
    }
}

body.page-index .carousel .slick-dots {
    bottom: 15px
}

body.page-index .carousel .slick-dots li {
    margin: 0 7px
}

body.page-index .carousel .slick-dots li button:before {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.82)
}

body.page-index .carousel .slick-dots .slick-active button:before {
    color: rgba(255, 255, 255, 0.92);
    opacity: 1
}

body.page-index .carousel .item {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

body.page-index .carousel .item h4 {
    position: absolute;
    color: #fff;
    width: 8em;
    font-family: 'Noto Serif TC', serif;
    font-weight: 800;
    font-size: 4.6rem;
    letter-spacing: .18em;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 1px 2px #2b2b2b
}

@media (max-width: 991px) {
    body.page-index .carousel .item h4 {
        font-size: 4rem
    }
}

@media (max-width: 767px) {
    body.page-index .carousel .item h4 {
        font-size: 2.3rem
    }
}

body.page-index .carousel .item.item-1 h4 {
    top: 50%;
    right: 5%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

body.page-index .carousel .item.item-2 h4 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

body.page-index .carousel .item.item-3 h4 {
    top: 50%;
    left: 5%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

@media (max-width: 991px) {
    body.page-index .carousel .item[class^=item] h4 {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

body.page-index .carousel .arrow {
    text-align: center;
    display: block;
    margin: 15px auto 0
}

body.page-index .carousel .arrow img {
    width: 32px
}

body.page-index .heading-1 {
    display: inline-block;
    padding: .15em 0;
    letter-spacing: .25em;
    color: #1a6dc1;
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    position: relative
}

@media (max-width: 991px) {
    body.page-index .heading-1 {
        font-size: 1.94rem;
        letter-spacing: .2em
    }
}

body.page-index .heading-1:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.12em;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 3px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2183f3), to(#f44336));
    background-image: linear-gradient(to right, #2183f3, #f44336)
}

body.page-index .heading-2 {
    margin-bottom: .42em;
    letter-spacing: .1em;
    color: #757575
}

@media (max-width: 991px) {
    body.page-index .heading-2 {
        font-size: 1.6rem
    }
}

body.page-index .section-1 .webatm-btn {
    background-color: #fdf03c;
    border-color: #ebe70d;
    color: #ea4a0b;
    font-family: 'Sarala', serif;
    font-weight: 700;
    font-size: 1.16rem
}

body.page-index .section-1 .webatm-btn:hover {
    background-color: #ffde23
}

body.page-index .section-1 .webatm-btn img {
    margin-right: 5px;
    height: 1.8rem
}

body.page-index .contact .row {
    padding: 40px 0;
    color: #fff;
    background-color: #1a6dc1
}

body.page-index .contact .title-wrapper .title {
    display: block;
    padding: .15em 2.5em;
    margin: 0 auto 20px;
    min-width: 56%;
    max-width: 380px;
    text-align: center;
    color: #1a6dc1;
    font-size: 1.6rem;
    letter-spacing: .18em;
    border-radius: 100px;
    background: #fff
}

@media (max-width: 991px) {
    body.page-index .contact .title-wrapper .title {
        padding: .25em 3em
    }
}

body.page-index .contact a:not(.btn) {
    color: #fff
}

@media (max-width: 991px) {
    body.page-index .contact .detail {
        text-align: center
    }
}

/*# sourceMappingURL=app.css.map */
